* {
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Playfair Display;
}
.logoImg {
  width: 100px;
  height: 100px;
  margin-top: 6px;
}
.logo {
  display: flex;
  align-items: center;
}
.links {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
}
.links a {
  text-decoration: none;
  font-size: 18px;
  padding: 5px 10px;
  color: white;
}
.links a:hover {
  background-color: white;
  color: #766052;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  border-radius: 4px;
}
button {
  border-radius: 18px;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  border-style: none;
  padding: 10px 40px;
  background-color: #f5f5f5;
  color: #766052;
  font-family: Lato;
  font-weight: 700;
  font-size: 15px;
}
button:hover {
  background-color: #766052;
  color: white;
}
footer {
  justify-content: center;
  background-color: #cdbfb2;
}
.nav {
  background-color: #cdbfb2;
  padding: 0 10px;
}
.conP1 {
  display: flex;
  padding: 0 10px;
  justify-content: space-evenly;
  background-color: #eeeeee;
}
.form {
  width: 600px;
  height: 500px;
  position: relative;
  left: 140px;
  margin: auto 0;
}
.form h4 {
  text-align: left;
  padding: 15px 0 20px 0;
}
.conP1 hr {
  width: 1px;
  margin: 15px 0;
}
label {
  font-family: lato;
  color: #5f4d41;
  font-size: 16px;
}
input {
  width: 25%;
  height: 30px;
  border: 1px solid rgb(187, 185, 185);
  border-radius: 32px;
}
textarea {
  width: 60%;
  height: 80px;
  border-radius: 16px;
  border: 1px solid rgb(187, 185, 185);
  margin: 10px 0;
}
h3 {
  color: #44372f;
  text-align: center;
  font-family: playfair display;
  font-size: 20px;
  margin: 30px 0;
}
h4 {
  color: #44372f;
  text-align: center;
  font-family: playfair display;
  font-size: 18px;
  padding: 15px 0;
}
.conP2 {
  padding: 30px 0 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #eeeeee;
  margin-bottom: 30px;
}
section {
  width: 160px;
  height: 120px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

section img {
  width: 70px;
  height: 70px;
  margin-bottom: 10px;
}
